@import "variables";

.margin-top {
  margin-top: 2rem;
}

.header {
  background: {
    color: $header-green;
  }
}

a {
  color: $green-text;
}

.header
.navbar-brand,
.header
.navbar-brand:hover,
.navbar-default .navbar-nav > li > a {
  color: $header-text-white;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  color: $white-text;
  background: {
    color: $green;
  }
}
